

















h1 {
    font-size: 40px;
    text-decoration: underline;
        /* Margin of 4 and 2 pixels.
    */
}












.sm-headshot {
        /* Small Headshot Class
    */
    width:50px;
    margin:5px;
}















.button-blue {
  background-color:      #1414b9;
     /* Deep Blue Background */
    
  color: white;
     /* White Text*/
    
  padding: 20px 60px;
     /* 20 pixels by 60 pixels? */
    
	margin-top:15px;
     /* 15 pixels of lead space on top */
    
  text-align: center;
     /* Align text to center*/
    
  text-decoration: none;
     /* Disable any text decoration*/
    
  display: inline-block;
     /* ??? */
    
  font-size: 16px;
     /* 16 Pixel Font size*/
    
  margin: 4px 2px;
     /* Margin of 4 and 2 pixels.
    */
    
  cursor: pointer;
       /* Use Pointer cursor, showing it is a linked button.
    */
    
  border-radius: 15px;
        /* 15 Pixel Border radius.
    */
    
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 
    /* 'Traditional' Box Shadow effect
    */
      
  rgba(0,0,0,0.19);
    
        /* ?
    */
    
	transition: transform .2s;
        /* Transition on hover .2 seconds.
    */
    
    
}




.button-blue:hover {
  background-color:#1e1eeb;
        /* Tint button slightly whiter on hover.
    */
  color: white;
	 transform: scale(1.1);
        /* Scale button 1.1x
    */
}












.img-fluid {
    border-radius: 25px;
        /* On Fluid Images, round the corners by 25 pixels.*/
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
     /* Add the 'traditional' box shadow effect.*/
}







.spacer {
    padding-bottom:25px;
    /* Just a 25 pixel spacer to use to create breaks between content. */
}
















/* Links */


/* Hyperlinks (Normal) */

a {
    
    font-weight: bold;
    
	transition: transform .2s;
    /* Links have a transition time of .2 seconds ?.*/
}

/* Hyperlinks (on Hover) */

a:hover {
  text-decoration: underline;
    /* Links have an underline.*/
    
    
	color:#4a7cd8;
    /* Links are blue on hover.*/
	 transform: scale(1.1);
    /* On Hover, Links scale 1.1 over .2s.*/
}













/* Images */





img {
 
    
    
    transition: transform .2s;
    /* Images have a transition time of .2s (from hover). */
    
    
    height: auto;
    
    /* Height is automatically given based on width, so images don't stretch. */
    
    
    
    
    max-width: 100%;
    /* Maximum width is always 100% of image. */


    

    
    
    }



img:hover {
	max-width: 100%;
    /* On Hover, Max width is 100% of width. */
    
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    

    
	 transform: scale(1.1);
    /* On Hover, scale the image by 1.1 over 0.2 seconds. */
    
    
       
    
    
        }



.img-large {
    border-radius: 50px;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
       /* Give Images a box shadow */
}









.shadow {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}












.portfolio-content {
    margin-top:120px;
    align-content: center;
    text-align: center;
}





















   .header{
    font-size: 40px;
    font-weight: bold;
    margin-top:50px;
    margin-bottom:50px;
}




















.resume-button {
    padding-bottom: 50px;
    margin-top: -100px;
    margin-right:-10px;
    text-align: right;
    color:white;

    }











.indigo{background-color:#3f51b5!important}

    .indigo-text{color:#3f51b5!important}

    
    .white-text{color:#fff!important}
    
    .white-lighter-hover {
      color: #fff;!important
      -webkit-transition: .4s;
      transition: .4s; }
    
    .white-lighter-hover:hover {
      -webkit-transition: .4s;
      transition: .4s;
      color: white; }

    .white-darker-hover {
      color: #fff;
      -webkit-transition: .4s;
      transition: .4s; }
    .white-darker-hover:hover {
      -webkit-transition: .4s;
      transition: .4s;
      color: #d9d9d9; }
    
    

    .grey-lighter-hover {
  color: #616161;!important
  -webkit-transition: .4s;
  transition: .4s; }
.grey-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #878787; }

.grey-darker-hover {
  color: #616161;
  -webkit-transition: .4s;
  transition: .4s; }
    
.grey-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #3b3b3b; }

  .indigo-lighter-hover {
  color: #3f51b5;
  -webkit-transition: .4s;
  transition: .4s; }
.indigo-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #7280ce; }

.indigo-darker-hover {
  color: #3f51b5;
  -webkit-transition: .4s;
  transition: .4s; }
.indigo-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #2b387c; }
    
      body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("img/bg/bg-destiny.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: fixed;
background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
}
    
    